body div{
    font-family: "Playfair Display", serif;
}
#homehead{
    color: white;
    font-size: 100px;
}
#homehead1{
    color: white; 
    font-size: 50px;
}
.bluehover:hover{
    color: blue;
}
/* html, body {
    overflow-x: hidden;
    width: 100%;
} */
#uparrow{
    float: right;
    margin: -40px 40px 40px 40px;
}
.up{
    font-size: 30px;
    color: blue;
}
.up:hover{
    color: black;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: azure;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(16, 16, 103);
    border-radius: 10px;
}

@media(max-width:992px){
    
}
@media(max-width:768px){
    .navimage{
        width: 50%;
    }
    #homehead{
        font-size: 80px;
    }
    .navimage{
        width: 80%;
    }
    
}
@media(max-width:568px){
    .navimage{
        width: 70%;
    }
    #homehead{
        font-size: 80px;
        margin-top: 100px;
    }
}
@media(max-width:480px){
    .navimage{
        width: 80%;
    }
    #homehead{
        font-size: 60px;
        margin-top: 100px;
    }
}